@model MarketX.BLL.DTOs.SearchModel

    <form name="OrderForm" asp-route="@Url.Action("Results", new
                                             {
                                                 Model.Name,
                                                 Model.CategoryId,
                                                 Model.CityId,
                                                 Model.CountyId,
                                                 Model.FromPrice,
                                                 Model.IsBuying,
                                                 Model.IsNew,
                                                 Model.IsUsed,
                                                 Model.IsWithPhoto,
                                                 Model.PropertyInputs,
                                                 Model.ToPrice,
                                                 Model.UserName
                                             })">
        <select class="form-control" id="orderSelect" asp-for="SortOrder">
            <option value="@MarketX.BLL.Services.SortOrder.DescendingByPrice">Ár szerint csökkenő</option>
            <option value="@MarketX.BLL.Services.SortOrder.AscendingByPrice">Ár szerint növekvő</option>
            <option value="@MarketX.BLL.Services.SortOrder.Latest">Legújabbak elől</option>
            <option value="@MarketX.BLL.Services.SortOrder.AscendingByABC">Név alapján ABC sorrendben</option>
        </select>
    </form>