@model MarketX.ViewModels.CityCountySelect

    <div class="col-auto pl-0 pb-2">
        @if (Model.IsRequired)
        {
            <select required asp-for="@Model.CountyId" id="countySelect" class="form-control">
                <option value="" selected disabled hidden>Megye</option>
                @foreach (var county in Model.Counties)
                {
                    <option value="@county.Id">@county.Name</option>
                }
            </select>
        }
        else
        {
            <select asp-for="@Model.CountyId" id="countySelect" class="form-control">
                <option value="" selected disabled hidden>Megye</option>
                @foreach (var county in Model.Counties)
                {
                    <option value="@county.Id">@county.Name</option>
                }
            </select>
        }
    </div>
    
    <div class="col-auto pl-0">
        @if (Model.IsRequired)
        {
            <select required asp-for="@Model.CityId" class="form-control" id="citySelect">
                <option value="" selected disabled hidden>Város</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
        }
        else
        {
            <select asp-for="@Model.CityId" class="form-control" id="citySelect">
                <option value="" selected disabled hidden>Város</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
        }

    </div>