@model MarketX.ViewModels.CityCountySelect

    <div class="col-auto py-2">
        @if (Model.IsRequired)
        {
            <select required asp-for="@Model.County" id="countySelect" class="form-control">
                <option value="" selected disabled hidden>Megye</option>
                @foreach (var county in Model.Counties)
                {
                    <option value="@county.Name">@county.Name</option>
                }
            </select>
        }
        else
        {
            <select asp-for="@Model.County" id="countySelect" class="form-control">
                <option value="" selected disabled hidden>Megye</option>
                @foreach (var county in Model.Counties)
                {
                    <option value="@county.Name">@county.Name</option>
                }
            </select>
        }
    </div>
    
    <div class="col-auto py-2">
        @if (Model.IsRequired)
        {
            <select required asp-for="@Model.City" class="form-control" id="citySelect">
                <option value="" selected disabled hidden>Város</option>
            </select>
        }
        else
        {
            <select asp-for="@Model.City" class="form-control" id="citySelect">
                <option value="" selected disabled hidden>Város</option>
            </select>
        }

    </div>